#include <windows.h>
#include "wingpt.h"

appicon ICON "WinGPT.ICO"

wingpt MENU {
    POPUP "&File" {
        MENUITEM "&Options...", IDM_OPTIONS
        MENUITEM SEPARATOR
        MENUITEM "&Exit", IDM_EXIT
    }
    POPUP "&Help" {
        MENUITEM "&About WinGPT...", IDM_ABOUT
    }
}

AboutBox DIALOG 20, 20, 160, 80
    STYLE WS_POPUP | WS_DLGFRAME {
        CTEXT "WinGPT"               -1,  0, 12, 160,  8
        ICON "appicon"               -1,  8,  8,   0,  0
        CTEXT "By Dialup.net"        -1,  0, 36, 160,  8
        DEFPUSHBUTTON "OK"         IDOK, 64, 60,  32, 14, WS_GROUP
    }

OptionsDlg DIALOG DISCARDABLE  20, 20, 218, 40
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Options"
{
	CONTROL "OpenAI API Key:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 8, 90, 9
	EDITTEXT IDE_APIKEY,                   7, 20, 150, 12, ES_AUTOHSCROLL | ES_LEFT | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON "OK",        IDOK,     167,  4,  45, 14
	PUSHBUTTON "Cancel",       IDCANCEL, 167, 20,  45, 14
}
